/*nav ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
nav ul li{
    display: inline;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}/*should be two one for hovering one when its not*/
/*nav ul li a:hover{
    text-decoration: none;
}*/
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items:center;
}



.products{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding: 50px;
     justify-content: space-around;
}
.product{
    width: 300px;
    border: 1px solid #3c9dca;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.product img{
    max-width: 300px;
    margin-bottom: 20px;
}